
@inject System.Net.Http.HttpClient Http
@using System.Diagnostics
@using Blazored.Menu

@if (MenuBuilder == null)
{

	<p><em>...</em></p>
}
else
{
	<BlazoredMenu Css="sticky-top" MenuBuilder="@MenuBuilder" />
}

@code {
	MenuBuilder MenuBuilder;

	protected override async Task OnInitializedAsync()
	{
		Debug.WriteLine("Getting json");	
	MenuItem[] menuItems = await Http.GetJsonAsync<MenuItem[]>("site-data/docs/toc.json");
		Debug.WriteLine("Building menu");
		MenuBuilder = new MenuBuilder(menuItems.ToList());
	}
}