@inherits DocsMenuBase
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing

@if (MenuBuilder == null) {
	<p><em>&nbsp;</em></p>
} else {
	<BlazoredMenu Css="" MenuBuilder="@MenuBuilder" />
}