@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<header class="sticky-top bg-white" style="box-shadow: 0 0 20px -4px #eeeeee;">
	<SiteHeader />
</header>
<div id="main">
	@Body
</div>
<footer class="@footerClass">
	<SiteFooter />
</footer>

@code {
	private string footerClass { get; set; } = "";

	protected override async Task OnInitializedAsync() {
		NavigationManager.LocationChanged += LocationChanged;

		if (NavigationManager.Uri.Contains("docs"))
			footerClass = "hide";
		else
			footerClass = "";

		await base.OnInitializedAsync();
	}
	private void LocationChanged(object sender, LocationChangedEventArgs e) {
		if (e.Location.Contains("docs"))
			footerClass = "hide";
		else
			footerClass = "";

		StateHasChanged();
	}
	private void Dispose() {
		NavigationManager.LocationChanged -= LocationChanged;
	}
}