@page "/security-providers/get-started/redisstore"
@inject IHttpContextAccessor HttpContextAccessor
@inject IOptionsSnapshot<DocsSiteOptions> DocsSiteOptions
<Breadcrumbs NavName="Key Ring with Redis"
							 ParentLinkName="Security Providers"
							 ParentLinkUrl="/security-providers"
							 ShowGetStarted="true" />
<Tutorial>
    <Title>
        This page has moved, use the new <NavLink href="@(DocsSiteOptions.Value.BaseAddress + "/guides/security/redisstore.html")">Key Ring storage with Redis guide</NavLink>
    </Title>
</Tutorial>
@code
{
    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext != null)
        {
            var uri = new Uri(DocsSiteOptions.Value.BaseAddress + "/guides/security/redisstore.html").ToString();
            HttpContextAccessor.HttpContext.Response.Redirect(uri, true);
        }
    }
}
