@page "/security-providers/get-started/sso"
@page "/security-providers/get-started/sso/openid"
@inject IHttpContextAccessor HttpContextAccessor
@inject IOptionsSnapshot<DocsSiteOptions> DocsSiteOptions
<Breadcrumbs NavName="Cloud Foundry Single Sign-on with OpenID Connect"
						 ParentLinkName="Security Providers"
						 ParentLinkUrl="/security-providers"
						 ShowGetStarted="true" />

<Tutorial>
    <Title>
        This page has moved, use the new <NavLink href="@(DocsSiteOptions.Value.BaseAddress + "/guides/security/sso-openid-netcore.html")">OpenID Connect guide</NavLink>
    </Title>
</Tutorial>
@code
{
    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext != null)
        {
            var uri = new Uri(DocsSiteOptions.Value.BaseAddress + "/guides/security/sso-openid-netcore.html").ToString();
            HttpContextAccessor.HttpContext.Response.Redirect(uri, true);
        }
    }
}
