@inject IHostEnvironment HostEnvironment

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- OneTrust Cookie Consent -->
    <meta content="3ab34b71-7023-4e93-90e8-12dd544a5179" name="onetrust-data-domain">
    <meta content="https://tags.tiqcdn.com/utag/vmware/microsites-privacy/prod/utag.js" name="microsites-utag">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//www.vmware.com/files/templates/inc/utag_data.js"></script>
    <script src="//tags.tiqcdn.com/utag/vmware/microsites-privacy/prod/utag.sync.js"></script>
    <script>function OptanonWrapper() { { window.dataLayer.push({ event: 'OneTrustGroupsUpdated' }); } }</script>
    <script>
        function setGTM(w,d,s,l,i){ w[l]=w[l]||[]; w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'}); var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:''; j.async=true; j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); }
        if (document.cookie.indexOf('OptanonConsent') > -1 && document.cookie.indexOf('groups=') > -1) { setGTM(window,document,'script','dataLayer','GTM-MMDFJKF'); } else{ waitForOnetrustActiveGroups(); } var timer; function waitForOnetrustActiveGroups() { if (document.cookie.indexOf('OptanonConsent') > -1 && document.cookie.indexOf('groups=') > -1) { clearTimeout(timer); setGTM(window,document,'script','dataLayer','GTM-MMDFJKF'); } else{ timer=setTimeout(waitForOnetrustActiveGroups, 250); } }
    </script>
    <!-- End OneTrust Cookie Consent -->

    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Create cloud-native .NET microservices with Steeltoe." />
    <meta property="og:url" content="https://www.steeltoe.io" />
    <meta property="og:image" content="https://steeltoe.io/images/favicon.png" />
    <meta property="og:description" content="Create .NET microservices for modern platforms with Steeltoe. It's a friend of Spring Cloud and can be used anywhere." />
    <meta name="twitter:title" content="Create cloud-native .NET microservices with Steeltoe.">

    <meta content="Create cloud-native .NET microservices with Steeltoe." name="DC.Title" xml:lang="EN">
    <meta content="cloud-native, .net, dotnet, framework, cloud, developer" name="DC.Subject" xml:lang="EN">
    <meta content="Create .NET microservices for modern platforms with Steeltoe. It's a friend of Spring Cloud and can be used anywhere." name="description" xml:lang="EN">
    <meta content="EN" name="DC.Language" scheme="dcterms:RFC1766">
    <meta content="https://steeltoe.io/" name="DC.Identifier" schema="DCterms:URI">
    <meta content="text/html" name="DC.Format" schema="DCterms:IMT">
    <meta content="Pivotal Software" name="DC.Creator">
    <meta content="Steeltoe OSS" name="DC.Publisher">
    <meta content="info@steeltoe.io" name="DC.Publisher.Address">
    <meta content="Steeltoe OSS" name="DC.Contributor">
    <meta content="2019-10-03" name="DC.Date" scheme="ISO8601">
    <meta content="text/html" name="DC.Type">
    <meta content="https://steeltoe.io/" name="DC.Identifier">
    <meta content="Copyright 2017, VMware, Inc.  All rights reserved." name="DC.Rights">

    <base href="/" />
    <title>Steeltoe OSS</title>
    <link rel="canonical" href="https://steeltoe.io/">
    <link rel="icon" href="https://steeltoe.io/images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/a11y-dark.min.css">
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <HeadOutlet />
</head>
<body>
    <div id="blazor-error-ui">
        @if (HostEnvironment.IsProduction())
        {
            <span>An error has occurred.</span>
        }
        else
        {
            <span>An unhandled exception occurred. See browser dev tools for details.</span>
        }
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <Routes />
    <script src="js/functions.js" type="text/javascript"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="js/highlightjs-badge.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/powershell.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/csharp.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/bash.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/json.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/xml.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/yaml.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
