<div class="banner">
	<Href href="@Href" NewWindow="@NewWindow">
		<div class="row no-gutters align-items-center">
			<div class="col-2" style="margin: .7% 3% .7% 5%;max-width: 11%;">
				<div class="sign rounded-pill special-link">
				<div style="padding: 2px;">@BannerTypeName</div>
			</div>
			</div>
			<div class="col desc">
				@ChildContent
			</div>
		</div>
	</Href>
</div>

@code
{
	[Parameter] public RenderFragment ChildContent { get; set; }
	[Parameter] public string Href {get;set;}
	[Parameter] public string BannerTypeName { get; set; } = "event";
	[Parameter] public bool NewWindow { get; set; } = true;
}
