<div class="width-all">
	<div class="width-70 container" style="max-width: 1420px;">
		<div class="row">
			<div class="col-12 p-0 m-0">
				<iframe id="iframe" src="@FrameUrl"></iframe>
			</div>
		</div>
	</div>
</div>

@code {
 [Parameter]
 public string FrameUrl {get;set;}
}
