
<div class="width-all bg-yellow">
	<div class="width-60 container">
		<div class="row no-gutters">
			<div class="col component-title">@ComponentName</div>
		</div>
		<div class="row no-gutters">
			<div class="col component-desc">@ComponentDescription</div>
		</div>
	</div>
</div>
<div class="width-all yellow-slant">
	<div class="width-60 container">
		<div class="row no-gutters">
			<div class="col-4">
				@GettingStartedURL
			</div>
			<div class="col">
				@DocsURL
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col component-whatis-title">
				<h2>What is @ComponentName?</h2>
			</div>
		</div>
	</div>
</div>
<div class="width-all">
	<div class="width-60 container">

		<div class="row no-gutters">
			<div class="col component-whatis-desc">
				@WhatIsComponent
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col component-whyuse-title">
				<h2>Why use @ComponentName?</h2>
			</div>
		</div>
		<div class="row mb-5 no-gutters">
			<div class="col component-whyuse-desc">
				@WhyUseComponent
			</div>
		</div>
		@Features
		<div class="row py-5 no-gutters">
			<div class="col"></div>
			<div class="col text-center pr-4">
				<div class="width-all">@GettingStartedURL</div>
			</div>
			<div class="col text-center pl-4">
				<div class="width-all">@DocsURL</div>
			</div>
			<div class="col"></div>
		</div>
	</div>
	@*<div class="component-resources">
		<div class="width-60">
			<div class="row no-gutters">
				<div class="col component-resources-title">resources</div>
				@Resources
			</div>
		</div>
	</div>*@
</div>

@code {
	[Parameter]
	public RenderFragment ComponentName { get; set; }

	[Parameter]
	public RenderFragment ComponentDescription { get; set; }

	[Parameter]
	public RenderFragment WhatIsComponent { get; set; }

	[Parameter]
	public RenderFragment WhyUseComponent { get; set; }

	[Parameter]
	public RenderFragment Features { get; set; }

	[Parameter]
	public RenderFragment GettingStartedURL { get; set; }

	[Parameter]
	public RenderFragment DocsURL { get; set; }

	[Parameter]
	public RenderFragment Resources { get; set; }
}
