@using Steeltoe.Client.UIInterfaces
@implements ITab
@inject IJSRuntime JSRuntime

<li class="nav-item @TitleCssClass">
 <a @onclick="Activate" role="tab">
  @Title
 </a>
</li>

@code {
	[CascadingParameter]
	public TabSet ContainerTabSet { get; set; }

	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	private string TitleCssClass => ContainerTabSet.ActiveTab == this ? "active" : null;

	protected override void OnInitialized()
	{
		ContainerTabSet.AddTab(this);

		base.OnInitialized();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
    await JSRuntime.InvokeVoidAsync("highlightCode",true);
		await base.OnAfterRenderAsync(firstRender);
	}

	private void Activate()
	{
		ContainerTabSet.SetActivateTab(this);
	}
}
