@page "/security-providers/get-started/credhub"
@inject IHttpContextAccessor HttpContextAccessor
@inject IOptionsSnapshot<DocsSiteOptions> DocsSiteOptions
<Breadcrumbs NavName="CredHub Client"
						 ParentLinkName="Security Providers"
						 ParentLinkUrl="/security-providers"
						 ShowGetStarted="true" />
<Tutorial>
    <Title>
        This page has moved, use the new <NavLink href="@(DocsSiteOptions.Value.BaseAddress + "/guides/")">guides</NavLink>
    </Title>
</Tutorial>
@code
{
    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext != null)
        {
            var uri = new Uri(DocsSiteOptions.Value.BaseAddress + "/guides/").ToString();
            HttpContextAccessor.HttpContext.Response.Redirect(uri, true);
        }
    }
}
