@page "/security-providers/get-started"

	<Breadcrumbs NavName="Getting Started"
							 ParentLinkName="Security"
							 ParentLinkUrl="/security-providers" />
<GetStarted>
 <ComponentName>Security Providers</ComponentName>
 <Tutorials>
 	<div class="col-2">
 		<div class="get-started-tutorial">
 			<div class="title"><a class="nav-link p-0" href="security-providers/get-started/redisstore">Store key ring in Redis</a></div>
 			<div class="desc">Data protection with a Redis instance</div>
 		</div>
 	</div>
 	<div class="col">&nbsp;</div>
 	<div class="col-2">
 		<div class="get-started-tutorial">
 			<div class="title"><a class="nav-link p-0" href="security-providers/get-started/jwt">Resource Protection using JSON Web Tokens (JWT)</a></div>
 			<div class="desc">Control access to REST resources using JWT</div>
 		</div>
 	</div>
 	<div class="col">&nbsp;</div>
 	<div class="col-2">
 		<div class="get-started-tutorial">
 			<div class="title"><a class="nav-link p-0" href="security-providers/get-started/credhub">CredHub Client</a></div>
 			<div class="desc">Interact directly with a CredHub instance</div>
 		</div>
 	</div>
 	<div class="col">&nbsp;</div>
 	<div class="col-2">
 		<div class="get-started-tutorial">
 			<div class="title"><a class="nav-link p-0" href="security-providers/get-started/sso/oauth">Cloud Foundry SSO with OAuth2 provider</a></div>
 			<div class="desc">Use an OAuth2 service for authentication and authorization</div>
 		</div>
 	</div>
 	<div class="col">&nbsp;</div>
 	<div class="col-2">
 		<div class="get-started-tutorial">
 			<div class="title"><a class="nav-link p-0" href="security-providers/get-started/sso/openid">Cloud Foundry SSO with OpenID Connect provider</a></div>
 			<div class="desc">Use an OpenID Connect service for authentication and authorization</div>
 		</div>
 	</div>
 </Tutorials>
</GetStarted>


