@page "/circuit-breakers/get-started/breaker"
@page "/circuit-breakers/get-started"
@inject IHttpContextAccessor HttpContextAccessor
@inject IOptionsSnapshot<DocsSiteOptions> DocsSiteOptions
<Breadcrumbs NavName="Circuit Breakers"
						 ParentLinkName="Circuit Breakers"
						 ParentLinkUrl="/circuit-breakers"
						 ShowGetStarted="true" />
<Tutorial>
    <Title>
        This page has moved, use the new <NavLink href="@(DocsSiteOptions.Value.BaseAddress + "/guides/circuit-breaker/circuit-breaker.html")">circuit breaker guide</NavLink>
    </Title>
</Tutorial>
@code
{
    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext != null)
        {
            var uri = new Uri(DocsSiteOptions.Value.BaseAddress + "/guides/circuit-breaker/circuit-breaker.html").ToString();
            HttpContextAccessor.HttpContext.Response.Redirect(uri, true);
        }
    }
}
