@page "/circuit-breakers"
@page "/steeltoe-circuitbreaker"

<SteeltoeComponent Name="Circuit Breakers">
	<DocsURL><NavLink class="component-button nav-link" href="/docs/circuitbreaker">VIEW THE DOCS</NavLink></DocsURL>
	<GettingStartedURL>
		<NavLink class="component-button nav-link" href="circuit-breakers/get-started/breaker">GET STARTED TUTORIAL</NavLink>
	</GettingStartedURL>
	<ComponentDescription>What do you do when a service you depend on stops responding? Circuit breakers enable you to bypass a failing service, allowing it time to recover, and preventing your users from seeing nasty error messages. Steeltoe includes a .NET implementation of Netflix Hystrix, a proven circuit breaker implementation with rich metrics and monitoring features.</ComponentDescription>
	<WhatIsComponent>When applied to a service, a circuit breaker watches for failing calls to the service. If failures reach a certain threshold, it “opens” (or breaks) the circuit and automatically redirects calls to the specified fallback mechanism. This gives the failing service time to recover. By using Circuit Breaker frameworks, you can prevent failures from cascading and provide fallback behavior until a failing service is restored to normal operation.</WhatIsComponent>
	<WhyUseComponent>Based on Netflix Hystrix circuit breaker pattern, Steeltoe Circuit Breakers provides applications with an implementation of the same pattern. No external dependencies are introduced by this package, your application can manage circuits completely internal.</WhyUseComponent>
	<Features>
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">Based on a proven pattern</div>
				<div class="component-feature-desc">Steeltoe support a similar design to <a class="nav-link" href="" target="_blank">Spring Cloud Netflix</a> based on Hystrix, Netflix’s Latency and Fault Tolerance library for distributed systems.</div>
			</div>
			<div class="col-6 text-center"><div class="component-feature-img"><img class="" src="images/icon-spring-cloud.svg" /></div></div>
		</div>
		<div class="row component-feature">
			<div class="col-6 text-center"><div class="component-feature-img"><img class="" src="images/Icon_upload.svg" /></div></div>
			<div class="col-6">
				<div class="component-feature-title">Internal to your application</div>
				<div class="component-feature-desc">Steeltoe Circuit Breakers is a pure .NET implementation. Meaning all your app will need is this package.</div>
			</div>
		</div>
	</Features>
	<Resources></Resources>
</SteeltoeComponent>

