trigger:
  branches:
    include:
      - main

stages:
  - stage: assemble
    displayName: Assemble
    jobs:
      - job: build
        displayName: Build
        pool:
          vmImage: ubuntu-latest
        steps:
          - task: Docker@2
            displayName: docker build
            inputs:
              command: build
              containerRegistry: SteeltoeContainerRegistry
              repository: main-site
          - task: Docker@2
            displayName: docker save
            inputs:
              command: save
              arguments: steeltoe.azurecr.io/main-site:$(Build.BuildId) -o $(Build.ArtifactStagingDirectory)/main-site.$(Build.BuildId).tar
          - publish: $(Build.ArtifactStagingDirectory)
            displayName: Publish Docker Image
            artifact: docker-image
  - stage: deploy
    displayName: Deploy
    dependsOn: assemble
    condition:
      not(eq(variables['build.reason'], 'PullRequest'))
    jobs:
      - job: deploy
        displayName: Deploy
        pool:
          vmImage: ubuntu-latest
        steps:
          - download: current
            displayName: Download Docker Image
            artifact: docker-image
          - task: Docker@2
            displayName: docker load
            inputs:
              command: load
              arguments: --input $(Pipeline.Workspace)/docker-image/main-site.$(Build.BuildId).tar
          - task: Docker@2
            displayName: docker tag
            inputs:
              command: tag
              arguments: steeltoe.azurecr.io/main-site:$(Build.BuildId) steeltoe.azurecr.io/main-site:latest
          - task: Docker@2
            displayName: docker push
            inputs:
              command: push
              containerRegistry: SteeltoeContainerRegistry
              repository: main-site
              tags: |
                $(Build.BuildId)
                latest
          - task: CopyFiles@2
            displayName: Copy Kubernetes Manifest
            inputs:
              SourceFolder: ./deploy/kubernetes
              Contents: '**'
              TargetFolder: $(Build.ArtifactStagingDirectory)/kubernetes
              CleanTargetFolder: true
          - task: PublishBuildArtifacts@1
            displayName: Stage for Release
            inputs:
              PathtoPublish: $(Build.ArtifactStagingDirectory)
              publishLocation: Container
