trigger:
  branches:
    include:
      - dev

stages:
  - stage: assemble
    displayName: Assemble
    jobs:
      - job: build
        displayName: Build
        pool:
          vmImage: ubuntu-latest
        steps:
          - task: UseDotNet@2
            inputs:
              packageType: 'sdk'
              version: '3.1.x'
            displayName: "Install .NET SDK 3.1.x"
          - script: dotnet publish './src/Server/Steeltoe.Server.csproj' --output './publish' --configuration Release --framework netcoreapp3.1 --runtime linux-x64 --self-contained
            displayName: 'dotnet publish'
          - publish: './publish'
            displayName: 'Publish Server'
            artifact: server
  - stage: deploy
    displayName: Deploy
    dependsOn: assemble
    condition:
      not(eq(variables['build.reason'], 'PullRequest'))
    jobs:
      - job: deployToStaging
        displayName: Deploy to Staging
        pool:
          vmImage: ubuntu-latest
        steps:
          - download: current
            artifact: server
          - task: CopyFiles@2
            displayName: "Stage Project"
            inputs:
              SourceFolder: './server'
              Contents: '**'
              TargetFolder: '$(Build.ArtifactStagingDirectory)/publish'
              CleanTargetFolder: true
          - powershell: cp "Dockerfile" "$(Build.ArtifactStagingDirectory)/Dockerfile"
            displayName: "Stage Dockerfile"
          - task: CopyFiles@2
            displayName: "Stage Kubernetes Manifest"
            inputs:
              SourceFolder: './deploy/kubernetes'
              Contents: '**'
              TargetFolder: '$(Build.ArtifactStagingDirectory)/kubernetes'
              CleanTargetFolder: true
          - task: PublishBuildArtifacts@1
            displayName: Deploy to Staging Cluster
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'drop'
              publishLocation: 'Container'
