@page "/security-providers/get-started/credhub"

<Breadcrumbs NavName="CredHub Client"
						 ParentLinkName="Security Providers"
						 ParentLinkUrl="/security-providers"
						 ShowGetStarted=true />
<Tutorial>
	<Title>Using Cloud Security with a CredHub secret store</Title>
	<Description>Soon there will be a tutorial here takes you through setting up a .NET Core application to store and retrieve a value from CredHub.</Description>
	<TutorialSteps>
	</TutorialSteps>
</Tutorial>
@code
{
	//private string ServiceName = "Credhub";
	//private string InstanceName = "myCredhubExample";
	//private string ProjectName = "Credhub_Example";
}