@page "/security-providers/get-started/jwt"

<Breadcrumbs NavName="JWT Web Tokens"
						 ParentLinkName="Security Providers"
						 ParentLinkUrl="/security-providers"
						 ShowGetStarted=true />
<Tutorial>
	<Title>Using JWT Bearer Tokens</Title>
	<Description>Please refer to our <a href="https://github.com/SteeltoeOSS/Samples/tree/master/Security/src/AspDotNetCore/CloudFoundryJwtAuthentication" target="_blank">sample app on Github</a> for detailed directions on using JWT and Cloud Foundry.</Description>
	<TutorialSteps></TutorialSteps>
</Tutorial>

@code
{
}
