@page "/security-providers/get-started/sso"

<Breadcrumbs NavName="Single Sign-on"
						 ParentLinkName="Security Providers"
						 ParentLinkUrl="/security-providers"
						 ShowGetStarted=true />
<Tutorial>
	<Title>Using Cloud Security with Single Sign On (SSO) provider</Title>
	<Description>Soon there will be a tutorial here takes you through setting up a .NET Core application that uses an SSO provider for authentication.</Description>
	<TutorialSteps>
	</TutorialSteps>
</Tutorial>
@code
{
	//private string ServiceName = "SSO";
	//private string InstanceName = "mySSOExample";
	//private string ProjectName = "SSO_Example";
}