@using System.Diagnostics

@inject IParseFromMarkdown ParseMarkdown
@page "/labs/{LabName}"

<PageTitle Title="Lab Exercises" />

<div class="width-all">
	<div class="width-90 container">
		<div class="row no-gutters">
			<div class="col mt-5">
				@html
			</div>
		</div>
	</div>
</div>

@code {
	private MarkupString html;
	private string _labName;

	[Parameter]
	public string LabName {
		get { return _labName; }
		set { _labName = value; }
	}

	protected override async Task OnParametersSetAsync() {
		html = await ParseMarkdown.GetHtmlAsync($@"labs/{_labName}.md");
		StateHasChanged();

		await base.OnParametersSetAsync();
		return;
	}
}