@using System.Diagnostics

@inject IJSRuntime JSRuntime
@inject IParseFromMarkdown ParseMarkdown

@page "/blog"
@page "/blogs"
@page "/blog/{ArticleName}"

<PageTitle Title="Blog" />

<div class="width-all">
	<div class="width-90 container">
		<div class="row no-gutters">
			<div class="col mt-5">
				@html
			</div>
		</div>
	</div>
</div>

@code {
	private MarkupString html;
	private string _articleName;

	[Parameter]
	public string ArticleName {
		get { return _articleName ?? "steeltoe-3-0-packs-a-mighty-punch-with-many-new-features"; }
		set { _articleName = value; }
	}

	protected override async Task OnParametersSetAsync() {
		//Console.WriteLine($@"labs/{_labName}/{(_exerciseName ?? _labName)}.md");
		html = await ParseMarkdown.GetHtmlAsync($@"blog/{ArticleName}.md");

		StateHasChanged();

		await JSRuntime.InvokeVoidAsync("highlightCode",true);
		StateHasChanged();

		await base.OnParametersSetAsync();
		return;
	}

}