@page "/service-discovery/get-started/consul"
@inject IHttpContextAccessor HttpContextAccessor
@inject IOptionsSnapshot<DocsSiteOptions> DocsSiteOptions
<Breadcrumbs NavName="Consul Service Discovery"
						 ParentLinkName="Service Discovery"
						 ParentLinkUrl="/service-discovery"
						 ShowGetStarted="true" />
<Tutorial>
	<Title>
        This page has moved, use the new <NavLink href="@(DocsSiteOptions.Value.BaseAddress + "/guides/service-discovery/consul.html")">Consul guide</NavLink>
	</Title>
</Tutorial>
@code
{
    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext != null)
        {
            var uri = new Uri(DocsSiteOptions.Value.BaseAddress + "/guides/service-discovery/consul.html").ToString();
            HttpContextAccessor.HttpContext.Response.Redirect(uri, true);
        }
    }
}
