@page "/service-discovery/get-started"
<PageTitle Title="Service Discovery Getting Started" />
<Breadcrumbs NavName="Getting Started"
						 ParentLinkName="Service Discovery"
						 ParentLinkUrl="/service-discovery" />
<GetStarted>
	<ComponentName>Service Discovery</ComponentName>
	<Tutorials>
		<div class="col">
			<div class="get-started-tutorial">
				<div class="title"><a class="nav-link p-0" href="service-discovery/get-started/eureka">Eureka Registry</a></div>
				<div class="desc">Use a Eureka service instance as the registry.</div>
			</div>
		</div>
		<div class="col-1">&nbsp;</div>
		<div class="col">
			<div class="get-started-tutorial">
				<div class="title"><a class="nav-link p-0" href="service-discovery/get-started/consul">Hashicorp Consul Registry</a></div>
				<div class="desc">Use a Hashicorp Consul service instance as the registry.</div>
			</div>
		</div>
	</Tutorials>
</GetStarted>

