<Tab Title="Azure App Service">
	Follow Microsoft's guide to deploying on Azure App Service. Read more <a href="@AzureDeployHowToUrl" target="_blank">here</a>.
</Tab>
@ChildContent

@code {
	[Parameter]
	public RenderFragment AzureDeployHowToUrl { get; set; }
	//[Parameter]
	//public string ServiceName { get; set; } = "";

	[Parameter]
	public RenderFragment ChildContent { get; set; }
}