<Tab Title="Steeltoe Tooling">
	<ol>
		<li>
			Add a reference to the app
			<code class="inline">st add app @ProjectName</code>
		</li>
		<li>
			Choose your deployment target
			<div class="row"><div class="col-3">Local with Docker</div><div class="col-9"><code class="inline">st target docker</code></div></div>
			<div class="row"><div class="col-3">Kubernetes with Docker</div><div class="col-9"><code class="inline">st target kubernetes</code></div></div>
			<div class="row"><div class="col-3">Cloud Foundry</div><div class="col-9"><code class="inline">st target cloud-foundry</code></div></div>
		</li>
		<li>
			Deploy to the targeted platform
			<code class="inline">st deploy</code>
		</li>
		<li>
			Watch the status of the deployment
			<code class="inline">st status</code>
		</li>
		@AdditionalSteps
	</ol>
	<Tip><Message>Once finished, to remove the deployment simply run <code>st undeploy</code></Message></Tip>
</Tab>

@code {
	[Parameter]
	public string ProjectName { get; set; } = "";

	[Parameter]
	public RenderFragment AdditionalSteps { get; set; }
}