@page "/cloud-management/get-started/distributed-tracing"
@inject IHttpContextAccessor HttpContextAccessor
@inject IOptionsSnapshot<DocsSiteOptions> DocsSiteOptions
<Breadcrumbs NavName="Distributed Tracing"
						 ParentLinkName="Cloud Management"
						 ParentLinkUrl="/cloud-management"
						 ShowGetStarted="true" />
<Tutorial>
    <Title>
        This page has moved, use the new <NavLink href="@(DocsSiteOptions.Value.BaseAddress + "/guides/cloud-management/distributed-tracing.html")">distributed tracing guide</NavLink>
    </Title>
</Tutorial>
@code
{
    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext != null)
        {
            var uri = new Uri(DocsSiteOptions.Value.BaseAddress + "/guides/cloud-management/distributed-tracing.html").ToString();
            HttpContextAccessor.HttpContext.Response.Redirect(uri, true);
        }
    }
}
