@page "/integration/get-started"

<Breadcrumbs NavName="Getting Started"
						 ParentLinkName="Stream"
						 ParentLinkUrl="/stream" />
<GetStarted>
	<ComponentName>Stream</ComponentName>
	<Tutorials>
		<div class="col">
			<div class="get-started-tutorial">
				<div class="title"><a class="nav-link p-0" href="stream/get-started/rabbitmq">RabbitMQ</a></div>
				<div class="desc">Use RabbitMQ as the message broker.</div>
			</div>
		</div>
		<div class="col-1">&nbsp;</div>
		<div class="col">
			<div class="get-started-tutorial">
				<div class="title"><a class="nav-link p-0" href="stream/get-started/kafka">Kafka</a></div>
				<div class="desc">Use Kafka as the message broker.</div>
			</div>
		</div>
	</Tutorials>
</GetStarted>

