@page "/service-connectors/get-started/gemfire"

	<Breadcrumbs NavName="Apache Geode/GemFire Cache"
							 ParentLinkName="Service connectors"
							 ParentLinkUrl="/service-connectors"
							 ShowGetStarted=true />
<Tutorial>
	<Title>Using the Gemfire service connector</Title>
	<Description>Soon there will be a tutorial here takes you through setting up a .NET application that interacts with a Gemfire cluster, via the Gemfire connector.</Description>
	<TutorialSteps>
	</TutorialSteps>
</Tutorial>
@code
{
	//private string ServiceName = "Gemfire";
	//private string InstanceName = "myGemfireExample";
	//private string ProjectName = "Gemfire-Connector";
}