@page "/service-connectors"
@page "/steeltoe-connectors"

<SteeltoeComponent>
	<DocsURL><a class="component-button nav-link" href="/docs/service-connectors">VIEW THE DOCS</a></DocsURL>
	<GettingStartedURL>
		<a class="component-button nav-link" href="service-connectors/get-started">GET STARTED TUTORIAL</a>
	</GettingStartedURL>
	<ComponentName>Service Connectors</ComponentName>
	<ComponentDescription>One of the many advantages of running applications on the cloud is the easy availability of a variety of backing services. Steeltoe simplifies using those services by automatically configuring and wiring up connections to common services like Redis, RabbitMQ, MySQL, MS SQL, and more.</ComponentDescription>
	<WhatIsComponent>Backing services are must when creating cloud-native .NET applications, but managing the connections can be time consuming and annoying. Steeltoe Service Connectors takes that pain away and let you get back to doing what you love.</WhatIsComponent>
	<WhyUseComponent>
		Steeltoe Connectors provide out-of-the-box support for discovering many common services on a cloud platform. They also include the ability to use settings-based configuration so that developers can supply configuration settings at development and testing time but then have those settings be overridden when pushing the application to the platform.
	</WhyUseComponent>
	<Features>
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">Database connectors</div>
				<div class="component-feature-desc">Discover and connect to databases such as Microsoft SQL, MySQL, PostgreSQL, and MongoDB.</div>
			</div>
			<div class="col-6 text-center"><div class="component-feature-img"><img class="" src="images/Icon_box.svg" /></div></div>
		</div>
		<div class="row component-feature">
			<div class="col-6 text-center"><div class="component-feature-img"><img class="" src="images/Icon_data-transfer.svg" /></div></div>
			<div class="col-6">
				<div class="component-feature-title">Cache and Messaging connectors</div>
				<div class="component-feature-desc">Discover and connect to Redis or GemFire/Apache Geode cache. Also easily interact with a RabbitMQ service instance.</div>
			</div>
		</div>
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">OAuth2 service client</div>
				<div class="component-feature-desc">Automatically get OAuth2 service instance configuration data injected into your ASP.NET application.</div>
			</div>
			<div class="col-6 text-center"><div class="component-feature-img"><img class="" src="images/Icon_keys.svg" /></div></div>
		</div>
	</Features>
	<Resources>
	</Resources>
</SteeltoeComponent>

