@page "/service-connectors/get-started/oauth"

	<Breadcrumbs NavName="OAuth2 Client"
							 ParentLinkName="Service connectors"
							 ParentLinkUrl="/service-connectors"
							 ShowGetStarted=true />
 <Tutorial>
	<Title>Using Service Connectors with an OAuth2 service</Title>
	<Description>Please refer to our <a href="https://github.com/SteeltoeOSS/Samples/tree/master/Security/src/AspDotNetCore/CloudFoundrySingleSignon" target="_blank">sample app on Github</a> for detailed directions on using OAuth and Cloud Foundry.</Description>
  <TutorialSteps></TutorialSteps>
 </Tutorial>

@code
{
}
