@page "/service-connectors/get-started/oauth"

	<Breadcrumbs NavName="OAuth2 Client"
							 ParentLinkName="Service connectors"
							 ParentLinkUrl="/service-connectors"
							 ShowGetStarted="true" />
 <Tutorial>
	<Title>Using Service Connectors with an OAuth2 service</Title>
	<Description>Please refer to our <a href="https://github.com/SteeltoeOSS/Samples/tree/main/Security/src/CloudFoundrySingleSignon" target="_blank">OAuth2 </a> sample app on GitHub for detailed directions on using OAuth and Cloud Foundry.</Description>
  <TutorialSteps></TutorialSteps>
 </Tutorial>

@code
{
}
