@using Microsoft.AspNetCore.Components.Routing
@using DevExpress.Blazor.AnchorUtils

<li class="@Css">
	<AnchorLink href="@MenuItem.Link">@MenuItem.Title</AnchorLink>
</li>

@code{
  [Parameter]
  public string Css { get; set; } = string.Empty;

  [Parameter]
  public MenuItem MenuItem { get; set; }
}