@page "/fileshares"
@page "/network-file-sharing"
@page "/steeltoe-smb"

@inject IHttpContextAccessor HttpContextAccessor
@inject IOptionsSnapshot<DocsSiteOptions> DocsSiteOptions
<GetStarted>
    <ComponentName>Network File Sharing</ComponentName>
    <Tutorials>
        <h1>This page has moved, find the new location <NavLink href="@(DocsSiteOptions.Value.FileShareHome)">here</NavLink></h1>
    </Tutorials>
</GetStarted>

@code
{
    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext != null)
        {
            var uri = new Uri(DocsSiteOptions.Value.FileShareHome).ToString();
            HttpContextAccessor.HttpContext.Response.Redirect(uri, true);
        }
    }
}
