@page "/get-started/basics"

<Breadcrumbs NavName="Steeltoe Basics"
							 ParentLinkName="Get Started"
							 ParentLinkUrl="/get-started"
							 ShowGetStarted="false" />
<Tutorial>
	<Title>Building a basic ASP.NET Core app with Steeltoe</Title>
	<Description>This tutorial takes you through setting up a .NET Core application that uses the essential Steeltoe packages, every microservice should have.</Description>
	<TutorialSteps>
		<div class="row">
			<div class="col-12 getting-started-header">First, <b>create a .NET Core WebAPI</b></div>
		</div>
		<div class="row">
			<div class="col-12 getting-started-ordered-list">
				<ol>
					<li>
						In Visual Studio (2019) choose to create a new project
						<img src="images/new-vs-proj/create-new-project.png" class="img-fluid" />
					</li>
					<li>
						Configure the new project with the follow values
						<img src="images/new-vs-proj/configure-new-project.png" class="img-fluid" />
						<ul>
							<li><b>Project Name:</b> @ProjectName</li>
							<li><b>Solution Name:</b> @ProjectName</li>
							<li><b>Framework:</b> (>= 4.5)</li>
						</ul>
					</li>
					<li>
						Choose to create a new Web API project type
						<img src="images/new-vs-proj/create-new-asp_net-web-app.png" class="img-fluid" />
					</li>
					<li>
						Once created, the project should be loaded
						<img src="images/new-vs-proj/create-successful.png" class="img-fluid" />
					</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-12 getting-started-header">Next, <b>install packages</b> needed</div>
		</div>
		<div class="row">
			<div class="col-12 getting-started-ordered-list">
				<ol>
					<li>
						Open the package manager console
						<img src="images/initializr/open-package-manager-console.png" class="img-fluid" />
					</li>
					<li>
						Install NuGet distributed packages
<pre><code>Install-Package -Id Steeltoe.Security.Authentication.CloudFoundryOwin -Version @SteeltoeVersion
Install-Package -Id Steeltoe.Management.EndpointCore -Version @SteeltoeVersion
Install-Package -Id Steeltoe.Extensions.Logging.DynamicLogger -Version @SteeltoeVersion
Install-Package -Id Steeltoe.Management.TracingCore -Version @SteeltoeVersion</code></pre>
					</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-12 getting-started-header">Then, <b>add</b> the management endpoints to the host builder, and run the app</div>
		</div>
		<div class="row">
			<ol class="col-12 getting-started-ordered-list">
				<li>
					Set the endpoints in <b>Program.cs</b>
<pre><code>using Steeltoe.Management.Endpoint;

...

public class Startup {

...

	public static IHostBuilder CreateHostBuilder(string[] args) =>
		Host.CreateDefaultBuilder(args)
			.ConfigureWebHostDefaults(webBuilder => {
				webBuilder.UseStartup&lt;Startup&gt;();
			})
			.AddHealthActuator()
			.AddInfoActuator()
			.AddLoggersActuator();
}</code></pre>
				</li>
				<li>
					Start distributed tracing in <b>Startup.cs</b>
<pre><code>using Steeltoe.Management.Tracing;

...

public class Startup {

...

	public void ConfigureServices(IServiceCollection services){

		services.AddDistributedTracing(Configuration);

		...

	}

...

}</code></pre>
				</li>
				<li>
					Open the <b>Controllers\WeatherForecastController.cs</b> file and test logging messages
<pre><code>using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Authorization;

...

[HttpGet]
public IEnumerable&lt;WeatherForecast&gt; Get() {
	_logger.LogInformation("Hi there from the logger!");

		...

}</code></pre>
				</li>
				<li>
					<div>Run the application</div>
					<div>
						<TabSet>
							<Steeltoe.Client.Components.RunAppTab.Local ProjectName="@ProjectName" IncludeNavigateToApp="true" />
						</TabSet>
					</div>
				</li>
				<li>
					<div>Navigate to the health endpoint</div>
					<div>
						xxxxxx
					</div>
				</li>
				<li>
					<div>Observe the logs for trace and span information</div>
					<div>
						xxxxxx
					</div>
				</li>
			</ol>
		</div>
	</TutorialSteps>
</Tutorial>
@code
{
	//private string ServiceName = "Place Holder";
	private const string ProjectName = "Steeltoe_Basics";
	private const string SteeltoeVersion = "3.0";
}
