@page "/initializr/get-started"

<Breadcrumbs NavName="Get Started"
							 ParentLinkName="Initializr"
							 ParentLinkUrl="/initializr"
							 ShowGetStarted="false" />
<Tutorial>
	<Title>Steeltoe Initializr</Title>
	<Description>This tutorial takes you through creating a .NET Core Microservice using Steeltoe Initializr.</Description>
	<TutorialSteps>
		<div class="row">
			<div class="col-12 getting-started-header">First, <b>create a .NET Core WebAPI</b></div>
		</div>
		<div class="row">
			<div class="col-12 getting-started-ordered-list">
				<ol>
					<li>
						<Steeltoe.Client.Components.AppSettingsTab.Initiallizr ProjectName="@ProjectName" />
					</li>
					<li>Extract the zipped project and open in your IDE of choice (we use Visual Studio)</li>
					<li>
						<div>Run the application</div>
						<div>
							<TabSet>
								<Steeltoe.Client.Components.RunAppTab.Local ProjectName="@ProjectName" />
								<Steeltoe.Client.Components.RunAppTab.CloudFoundry ProjectName="@ProjectName" NoCFServices="true" />
								<Steeltoe.Client.Components.RunAppTab.AzureAppService>
									<AzureDeployHowToUrl>https://docs.microsoft.com/en-us/visualstudio/deployment/quickstart-deploy-to-azure?view=vs-2019</AzureDeployHowToUrl>
								</Steeltoe.Client.Components.RunAppTab.AzureAppService>
								<Steeltoe.Client.Components.RunAppTab.Kubernetes ProjectName="@ProjectName" />
							</TabSet>
						</div>
					</li>
					<li>
						That's it! You have generated a .NET Core microservice using all the latest patterns. Go back and try adding a dependency or <Href href="/getstarted">try other tutorials</Href>
					</li>
				</ol>
			</div>
		</div>
	</TutorialSteps>
</Tutorial>
@code
{
	private const string ProjectName = "Initializr_Example";
}
