@page "/initializr"

<SteeltoeComponent Name="Steeltoe Initializr">
	<ComponentDescription>One of the biggest secrets to highly productive .NET development teams is application generators. Enterprises have found that developers adopt platforms far quicker when everything they need to get started is right there, at their fingertips. Application generators help developers to get started quickly by providing useful guide rails that reduce toil and ease their burden. Application generators also encourage common approaches to common problems, which is particularly useful if you have lots of teams creating microservices at the same time.
			<br /><br />
			The Steeltoe Initializr project is an application generator meant to get cloud-native .NET developers going very quickly. But it doesn’t stop there. Chances are your apps aren’t just using the typical .NET Core or Steeltoe libraries. It’s also using internal custom libraries specific to your business. Every business has libraries: tools they rely on to simplify tasks or take care of the plumbing. These libraries are quite important and often include proprietary business logic that’s both private and unique. Application generators can help developers to get easy access to these libraries without having to delve into docs, wade through wikis, or search in NuGet repositories.
			<br /><br />
			Additionally an application generator can help bond development teams and security teams to the same vision by making the right thing, the easy thing. Instead of developers using previous projects to start a new project they use the application generator. Now they can start with an up to date version of all required dependencies!</ComponentDescription>
	<GettingStartedURL><NavLink class="component-button nav-link" href="/initializr/get-started">GET STARTED</NavLink></GettingStartedURL>
	<DocsURL><NavLink class="component-button nav-link" href="/docs/developer-tools/initializr">VIEW THE DOCS</NavLink></DocsURL>
	<Features>
		<div class="row no-gutters">
			<div class="col component-whyuse-title mt-0">
				<h2>Using Initializr</h2>
			</div>
		</div>
		<div class="row mb-5 no-gutters">
			<div class="col component-whyuse-desc">
				There are a few ways you can use Steeltoe Initializr. Every option gives you the same ready to go Visual Studio project. The typical use of Initializr is hosting the service in-house. Because it is a nuget distributed package included in an even simple'r .NET Core app, hosting and staying up to date doesn't come with a bunch of debt. Hosting in-house also gives teams the option to add their own private dependencies to the service, but stay up to date with the community.
			</div>
			<div class="col component-whyuse-desc">
				<h4>Hosted Service</h4>
				<div>
					As a hosted service, Initializr offers both API and browser interfaces. The service itself is distributed as a Nuget package which you include in a new .NET Core web project. From there you can run the project as a web-based service. Out of the box you'll get all the <NavLink class="nav-link" href="xxxx" target="_blank">default dependencies</NavLink> along with endpoints for interaction. Try the below curl command that uses our hosted Initializr service to get started.<br /><br />
<pre><code>$ curl https://start.steeltoe.io/starter.zip -d "dependencies=Actuators,DynamicLogger,SQL Server" -d "projectName=MyCompany.MySample" -o "myProject.zip"</code></pre>
				</div>
			</div>
			<div class="col component-whyuse-desc">
				<h4>Browser UI</h4>
				<div>
					Along with adding the Initializr package, you can optionally add a web site in the same .NET Core project. This gives developers an additional interaction with the Initializr service. We have created a <NavLink class="nav-link" href="xxxx" target="_blank">basic web project</NavLink> doing just that to help get started. If you'de like to see the UI in action head over to <NavLink class="nav-link" href="https://start.steeltoe.io" target="_blank">https://start.steeltoe.io</NavLink> and create your first Initializr project now!
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col component-whyuse-title mt-0">
				<h2>About Dependencies</h2>
			</div>
		</div>
		<div class="row mb-5 no-gutters">
			<div class="col component-whyuse-desc">
				No matter the way you choose to use Initializr, the value is in the distribution of pre-packaged dependencies. The <NavLink class="nav-link" href="xxxx" target="_blank">default dependencies</NavLink> included in Initializr are mostly Steeltoe focused. Things like database connectors, a Spring config client, a Consol discovery client, and many others. But this is a community driven project, so it only makes sense to offer ways for the .NET community to contribute.
				<h4>Creating private dependencies</h4>
				Running Initializr in-house isn’t just about limited network connections. The Steeltoe Initializr is meant to be extended. While having the ability to generate Steeltoe projects automatically is super awesome, what if you could also add in your own dependencies? What if your organization could offer a starting place for all developers, that (safely) includes your best practices and secret sauce?
				<br /><br />TODO: provide more detail about how to create a dependency and add it in to an Initializr instance
				<h4>Creating for public use on start.steeltoe.io</h4>
				If you would like for your Initializr dependency to be a part of the publicly hosted service, please review the <NavLink class="nav-link" href="https://github.com/SteeltoeOSS/initializr/blob/master/THIRD-PARTY-CONTRIBUTIONS.md" target="_blank">guidelines</NavLink>. Once you have everything in place, submit a request to XXXXXXXX.
				<h4>Getting listed in the incubator</h4>
				Sometimes you have a great idea for a very useful dependency but don't have the time to maintain it. If that's the case, follow the <NavLink class="nav-link" href="https://github.com/SteeltoeOSS/initializr/blob/master/THIRD-PARTY-CONTRIBUTIONS.md" target="_blank">guidelines</NavLink> as closely as possible, and request a new repo in Steeltoe's <NavLink class="nav-link" href="https://github.com/SteeltoeOSS-incubator" target="_blank">incubator org</NavLink>. This is a place to share Steeltoe based ideas with the community, giving them the option to use.
			</div>
		</div>
	</Features>
	<OtherArea>
		<div class="col text-center m-5">
			<div class="mb-5"><h2>Ready to get started?</h2></div>
			<div class=""><NavLink href="/initializr/get-started" role="button" class="border border-dark font-weight-bold btn btn-default border-black p-3 nav-link">TRY THIS TUTORIAL</NavLink></div>
		</div>
	</OtherArea>
</SteeltoeComponent>


@code {
}