@page "/logging/get-started"
@inject IHttpContextAccessor HttpContextAccessor
@inject IOptionsSnapshot<DocsSiteOptions> DocsSiteOptions
<Breadcrumbs NavName="Getting Started"
						 ParentLinkName="Logging"
						 ParentLinkUrl="/logging" />
<GetStarted>
    <ComponentName>Logging</ComponentName>
    <Tutorials>
        <h1>This page has moved, find the new location <NavLink href="@(DocsSiteOptions.Value.BaseAddress + "/guides/")">here</NavLink></h1>
    </Tutorials>
</GetStarted>

@code
{
    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext != null)
        {
            var uri = new Uri(DocsSiteOptions.Value.BaseAddress + "/guides/").ToString();
            HttpContextAccessor.HttpContext.Response.Redirect(uri, true);
        }
    }
}
