@media (min-width: 768px) {
    body>header {
        height: auto;
    }
}
#logo {
    margin-right: 10px;
}

#version-toggles {
    margin-bottom: 15px;
}
#version-toggles label {
    width: 33%
}
#version-toggles .btn-group {
    width: 100%;
}
