@page "/app-configuration/get-started"

<Breadcrumbs NavName="Getting Started"
							 ParentLinkName="App Configuration"
							 ParentLinkUrl="/app-configuration" />
<GetStarted>
 <ComponentName>App Configuration</ComponentName>
 <Tutorials>
 	<div class="col-2">
 		<div class="get-started-tutorial">
 			<div class="title"><a class="nav-link p-0" href="app-configuration/get-started/springconfig">Spring Config Server</a></div>
 			<div class="desc">Use an external configuration server for startup values.</div>
 		</div>
 	</div>
 	<div class="col">&nbsp;</div>
 	<div class="col-2">
 		<div class="get-started-tutorial">
 			<div class="title"><a class="nav-link p-0" href="app-configuration/get-started/cloudfoundry">Cloud Foundry Provider</a></div>
 			<div class="desc">Automatically parse the standard Cloud Foundry VCAP environment variables within a .NET application.</div>
 		</div>
 	</div>
 	<div class="col">&nbsp;</div>
 	<div class="col-2">
 		<div class="get-started-tutorial">
 			<div class="title"><a class="nav-link p-0" href="app-configuration/get-started/placeholder">Placeholder Provider</a></div>
 			<div class="desc">Define configuration values as placeholders and have them resolved to real values at startup.</div>
 		</div>
 	</div>
 	<div class="col">&nbsp;</div>
 	<div class="col-2">
 		<div class="get-started-tutorial">
 			<div class="title"><a class="nav-link p-0" href="app-configuration/get-started/randomvalue">Random Value Provider</a></div>
 			<div class="desc">Generate random config value as an integer, long, UUID, or string.</div>
 		</div>
		</div>
 </Tutorials>
</GetStarted>
