@page "/app-configuration"
@page "/app-config"
@page "/steeltoe-configuration"

<SteeltoeComponent>
	<DocsURL><NavLink class="component-button nav-link" href="/docs/configuration">VIEW THE DOCS</NavLink></DocsURL>
	<GettingStartedURL>
		<NavLink class="component-button nav-link" href="app-configuration/get-started">GET STARTED TUTORIAL</NavLink>
	</GettingStartedURL>
	<ComponentName>App Configuration</ComponentName>
	<ComponentDescription>Separating configuration from application code is an important discipline in cloud-native development. Spring Cloud Config Server provides a mechanism to store your application’s configuration externally, and have it injected into your application at runtime. Steeltoe includes a custom .NET Configuration Provider that utilizes Spring Cloud Config Server to pull in config values stored in Git, the filesystem, or Hashicorp Vault.</ComponentDescription>
	<WhatIsComponent>Steeltoe Configuration builds on the new .NET configuration API, which enables developers to configure an application with values from a variety of sources by using Configuration Providers.</WhatIsComponent>
	<WhyUseComponent>With the added providers, Steeltoe Configuration takes care of managing connections to external config servers and provides new resources, such as placeholders and random values.</WhyUseComponent>
	<Features>
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">Spring Config Server Provider</div>
				<div class="component-feature-desc">Enable a .NET application to use a Spring Cloud Config server as a provider.</div>
			</div>
			<div class="col-6 text-center"><div class="component-feature-img"><img class="img-fluid" src="images/icon-spring-cloud.svg" /></div></div>
		</div>
		<div class="row component-feature">
			<div class="col-6 text-center"><div class="component-feature-img"><img class="img-fluid" src="images/Icon_down-arrow.svg" /></div></div>
			<div class="col-6">
				<div class="component-feature-title">Placeholders in Configuration</div>
				<div class="component-feature-desc">Define configuration values as placeholders in your configuration and have them resolved to real values at runtime during configuration access.</div>
			</div>
		</div>
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">Random Values</div>
				<div class="component-feature-desc">Generate random values as integers, longs, UUIDs or strings as part of your application's configuration values.</div>
			</div>
			<div class="col-6 text-center"><div class="component-feature-img"><img class="img-fluid" src="images/Icon_data-transfer.svg" /></div></div>
		</div>
		<div class="row component-feature">
			<div class="col-6 text-center"><div class="component-feature-img"><img src="images/cloud-foundry.png" height="108" /></div></div>
			<div class="col-6">
				<div class="component-feature-title">Cloud Foundry Provider</div>
				<div class="component-feature-desc">A custom .NET provider for the Cloud Foundry platform that parses the VCAP environment variables and automatically loads them as configuration values.</div>
			</div>
		</div>
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">Cloud Foundry Hosting</div>
				<div class="component-feature-desc">Find the port assigned by the platform and automatically set as the port to listen on, within the application.</div>
			</div>
			<div class="col-6 text-center"><div class="component-feature-img"><img src="images/cloud-foundry.png" height="108" /></div></div>
		</div>
	</Features>
	<Resources></Resources>
</SteeltoeComponent>

