@page "/app-configuration/get-started/placeholder"

<Breadcrumbs NavName="Placeholder Provider"
							 ParentLinkName="App Configuration"
							 ParentLinkUrl="/app-configuration"
							 ShowGetStarted=true />
<Tutorial>
	<Title>Application Configuration Placeholders</Title>
	<Description>This tutorial takes you through setting up a .NET Core application that uses placeholders for config values.</Description>
	<TutorialSteps>
		<div class="row">
			<div class="col-12 getting-started-header">First, <b>create a .NET Core WebAPI</b> that has a placeholder implemented</div>
		</div>
		<div class="row">
			<div class="col-12 getting-started-ordered-list">
				<ol>
					<li>
						<Steeltoe.Client.Components.AppSettingsTab.Initiallizr ImageName="placeholder.png" DependencyName="Placeholder Configuration Source" ProjectName="@ProjectName" />
					</li>
					<li>Extract the zipped project and open in your IDE of choice (we use Visual Studio)</li>
					<li>
						<div>Run the application</div>
						<div>
							<TabSet>
								<Steeltoe.Client.Components.RunAppTab.Local ProjectName="@ProjectName" />
								<Steeltoe.Client.Components.RunAppTab.CloudFoundry ProjectName="@ProjectName" NoCFServices=true />
								<Steeltoe.Client.Components.RunAppTab.AzureAppService>
									<AzureDeployHowToUrl>https://docs.microsoft.com/en-us/visualstudio/deployment/quickstart-deploy-to-azure?view=vs-2019</AzureDeployHowToUrl>
								</Steeltoe.Client.Components.RunAppTab.AzureAppService>
								<Steeltoe.Client.Components.RunAppTab.Kubernetes ProjectName="@ProjectName" />
							</TabSet>
						</div>
					</li>
					<li>
						Once the app loads in the browser you will see the three values output.
						<br /><samp>["&lt;PATH_ENV_VAR&gt;","NotFound","Information"]</samp>
					</li>
				</ol>
			</div>
		</div>
	</TutorialSteps>
</Tutorial>
@code
{
	//private string ServiceName = "Place Holder";
	private string ProjectName = "Placeholder_Example";
}