@page "/logging/get-started"

	<Breadcrumbs NavName="Getting Started"
						 ParentLinkName="Logging"
						 ParentLinkUrl="/logging" />
<GetStarted>
 <ComponentName>Logging</ComponentName>
 <Tutorials>
	 <div class="col">
	 	<div class="get-started-tutorial">
	 		<div class="title"><Href class="nav-link p-0" href="/logging/get-started/dynamic-logging">Dynamic Logging</Href></div>
	 		<div class="desc">xxxxxx.</div>
	 	</div>
		 </div>
	 	<div class="col-1">&nbsp;</div>
			<div class="col">
				<div class="get-started-tutorial">
					<div class="title"><Href class="nav-link p-0" href="/logging/get-started/serilog-dynamic-logging">Serilog Dynamic Logging</Href></div>
					<div class="desc">xxxxxx.</div>
				</div>
			</div>
</Tutorials>
</GetStarted>


