@page "/cloudnativedeveloper"
@page "/cloud-native-developer"

<div class="width-all">
	<div class="width-60 container">
		<div class="row no-gutters">
			<div class="col get-started-title">Cloud-Native Developer Tools</div>
		</div>
		<div class="row no-gutters">
			<div class="col tools-item">
				<div class="title"><h3>Initializr</h3></div>
				<div class="desc">
					Steeltoe Initializr provides an extensible API and UI to generate .NET WebAPI-based projects with customizations for specific cloud components in mind. Say you're starting a new API project that will need a cache, use SSO, and use an MS SQL database. You can create a project with Initializr that has all those components already... initialized.
					<br /><br />Maybe your organization doesn't allow access to public tools like Initializer or you want to add a custom dependency-no problem! The <NavLink class="nav-link" href="https://github.com/steeltoeoss/initializr" target="_blank">GitHub project</NavLink> is meant to be forked and customized.
				</div>
				<div class="text-center mt-4">Get started now - <NavLink class="nav-link" href="https://start.steeltoe.io" target="_blank">https://start.steeltoe.io</NavLink></div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col tools-item">
				<div class="title"><h3>Visual Studio</h3></div>
				<div class="desc">
					Using the Initializer idea, add an extension to Visual Studio that offers a wizard-like experience to create new projects with custom dependencies. The extension allows for internal Initializer instances and automatically discovers added (internal) dependencies. To get started, simply download the extension through the <NavLink class="nav-link" href="" target="_blank">Visual Studio marketplace</NavLink> or fork the <NavLink class="nav-link" href="https://github.com/steeltoeoss/initializr" target="_blank">project</NavLink> and make it your own.
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col tools-item">
				<div class="title"><h3>Tooling CLI</h3></div>
				<div class="desc">Following the <NavLink class="nav-link" href="https://12factor.net" target="_blank">12-factor</NavLink> app, "Dev/prod parity" is one of the tough principles to follow. It's impossible to recreate the exact network/environment your app will be offered in production. But through the magic of Docker, we can simulate a containerized environment locally. The <NavLink class="nav-link" href="https://github.com/steeltoeoss/tooling" target="_blank">Steeltoe CLI project</NavLink> aims to help with that experience, while still developing in Visual Studio (or your IDE of choice).</div>
			</div>
		</div>
	</div>
</div>

@code {
}