@page "/cloudnativedeveloper"
@page "/cloud-native-developer"
<PageTitle Title="Cloud Native Developer" />
<div class="width-all">
	<div class="width-60 container">
		<div class="row no-gutters">
			<div class="col get-started-title">Cloud-Native Developer Tools</div>
		</div>
		<div class="row no-gutters">
			<div class="col tools-item">
				<div class="title"><h3>Visual Studio</h3></div>
				<div class="desc">
					Using the Initializer idea, add an extension to Visual Studio that offers a wizard-like experience to create new projects with custom dependencies. The extension allows for internal Initializer instances and automatically discovers added (internal) dependencies. To get started, simply download the extension through the <NavLink class="nav-link" href="" target="_blank">Visual Studio marketplace</NavLink> or fork the <NavLink class="nav-link" href="https://github.com/steeltoeoss/initializr" target="_blank">project</NavLink> and make it your own.
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col tools-item">
				<div class="title"><h3>Tooling CLI</h3></div>
				<div class="desc">Following the <NavLink class="nav-link" href="https://12factor.net" target="_blank">12-factor</NavLink> app, "Dev/prod parity" is one of the tough principles to follow. It's impossible to recreate the exact network/environment your app will be offered in production. But through the magic of Docker, we can simulate a containerized environment locally. The <NavLink class="nav-link" href="https://github.com/steeltoeoss/tooling" target="_blank">Steeltoe CLI project</NavLink> aims to help with that experience, while still developing in Visual Studio (or your IDE of choice).</div>
			</div>
		</div>
	</div>
</div>

@code {
}