@page "/cloudnativedeveloper"
@page "/cloud-native-developer"

<PageTitle Title="Cloud Native Developer" />
<div class="width-all">
	<div class="width-60 container">
		<div class="row no-gutters">
			<div class="col get-started-title">Cloud-Native Developer Tools</div>
		</div>
		<div class="row no-gutters">
			<div class="col tools-item">
				<div class="title"><h3><NavLink class="nav-link" href="/initializr">Initializr</NavLink></h3></div>
				<div class="desc">
					Steeltoe Initializr is an application generator meant to get cloud-native .NET developers going very quickly.
				</div>
			</div>
 			<div class="col-1">&nbsp;</div>
			<div class="col tools-item">
				<div class="title"><NavLink class="nav-link" href="/desktop"><h3>Desktop</h3></NavLink></div>
				<div class="desc">The Desktop project aims to help developers recreate a local environment similar to their cloud platform.</div>
			</div>
		</div>
	</div>
</div>

@code {
}