@page "/community"

<Template Name="Community">
	<Description>Connect with other developers and share your project with the Steeltoe community.</Description>
	<OtherArea>
		<div class="row no-gutters">
			<div class="col">
				<div class="component-whatis-title"><h2>Monthly Meetup</h2></div>
				<div class="my-5">
					<div>A monthly meetup for the entire Steeltoe community. It's a chance to discuss open issues, review features in an upcoming release, and propose new ideas.</div>
					<div>
						Occurs on the first Tuesday of every month at 12:30p EST<br />
						Zoom meeting ID: 948 4672 7700<br />
						Passcode: 687486<br />
						<a href="https://VMware.zoom.us/j/94846727700?pwd=amlWak5SL2RYcitXQTlsMHNpODZkdz09">Zoom invite link</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row no-gutters mb-5">
			<div class="col-6">
				<div class="component-whatis-title"><h2>Developers</h2></div>
				<div class="my-5">
					<div><Href href="https://stackoverflow.com/questions/tagged/steeltoe" NewWindow="true">Stack Overflow</Href></div>
					<div>Ask questions and get help with problems from the global Steeltoe community of users and practitioners.</div>
				</div>
				<div class="my-5">
					<div class=""><Href href="https://github.com/steeltoeoss" NewWindow="true">Steeltoe on GitHub</Href></div>
					<div>Read the code for most Steeltoe projects, raise issues, suggest changes, and view milestones and releases.</div>
				</div>
				<div class="my-5">
					<div class=""><Href href="https://twitter.com/steeltoeoss" NewWindow="true">Steeltoe on Twitter</Href></div>
					<div>Stay up to date with the latest Steeltoe releases and blog posts.</div>
				</div>
			</div>
			<div class="col offset-2">
				<div class="component-whatis-title"><h2>Projects</h2></div>
				<div class="my-5">
					<div class=""><Href href="https://github.com/steeltoeoss-incubator" NewWindow="true">Steeltoe Incubator</Href></div>
					<div>A place to get your project listed in the Steeltoe community. If you have a new feature or component that you would like to be included in the framework, this is a great place to get started!</div>
				</div>
				@*<div class="my-5">
					<div class=""><Href href="https://azure.microsoft.com/en-us/services/spring-cloud/" NewWindow="true">Azure Spring Cloud</Href></div>
					<div>XXXXXX.</div>
				</div>*@
			</div>
		</div>
	</OtherArea>
</Template>

@code{
}
