@page "/community"

<PageTitle Title="Community" />
<div class="width-all">
	<div class="width-60 container">
		<div class="row no-gutters">
			<div class="col get-started-title">Community</div>
		</div>
		<div class="row no-gutters">
			<div class="col-4">
				<h3>Community Support</h3>
				<div>
					<div class=""><Href href="" target="_blank">Stack Overflow</Href></div>
					<div>Ask questions and get help with problems from the global Steeltoe community of users and practitioners.</div>
				</div>
				<div>
					<div class=""><Href href="https://github.com/steeltoeoss" target="_blank">Steeltoe on GitHub</Href></div>
					<div>Read the code for most Steeltoe projects, raise issues, suggest changes, and view milestones and releases.</div>
				</div>
			</div>
			<div class="col">
				<h3>Community Projects</h3>
				<div>
					<div class=""><Href href="https://github.com/steeltoeoss-incubator" target="_blank">Steeltoe Incubator</Href></div>
					<div>XXXXXX.</div>
				</div>
				<div>
					<div class=""><Href href="https://azure.microsoft.com/en-us/services/spring-cloud/" target="_blank">Azure Spring Cloud</Href></div>
					<div>XXXXXX.</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
}