@page "/initializr"
<PageTitle Title="Initializr" />
<div class="width-all">
	<div class="width-60 container">
		<div class="row no-gutters">
			<div class="col get-started-title">Steeltoe Initializr</div>
		</div>
		<div class="row no-gutters">
			<div class="col">
				One of the biggest secrets to highly productive .NET development teams is application generators. Enterprises have found that developers adopt platforms far quicker when everything they need to get started is right there, at their fingertips. Application generators help developers to get started quickly by providing useful guide rails that reduce toil and ease their burden. Application generators also encourage common approaches to common problems, which is particularly useful if you have lots of teams creating microservices at the same time.
				<br /><br />
				The Steeltoe Initializr project is an application generator meant to get cloud-native .NET developers going very quickly. But it doesn’t stop there. Chances are your apps aren’t just using the typical .NET Core or Steeltoe libraries. It’s also using internal custom libraries specific to your business. Every business has libraries: tools they rely on to simplify tasks or take care of the plumbing. These libraries are quite important and often including proprietary business logic that’s both private and unique. Application generators can help developers to get easy access to these libraries without having to delve into docs, wade through wikis, or search in NuGet repositories.
				<br /><br />
				Chances are you are already using an application generator. In Visual Studio going to File>New>Project or with the dotnet cli’s command dotnet new. Under the covers Initializr is doing the exact same work, but specializes in microservices. It follows the 12 factor principles with things like loosely coupled services and making the most of environment variables.
				<br /><br />
				Get started today creating cloud-native .NET with the Initializr project. Or clone the source from GitHub and make it your own.
			</div>
		</div>
		<div class="row py-5 no-gutters">
			<div class="col"></div>
			<div class="col text-center pr-4">
				<div class="width-all"><a class="component-button nav-link" href="https://start.steeltoe.io" target="_blank">GET STARTED</a></div>
			</div>
			<div class="col text-center pl-4">
				<div class="width-all"><a class="component-button nav-link" href="https://github.com/SteeltoeOSS/initializr" target="_blank">VIEW THE SOURCE</a></div>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>

@code {
}