@page "/getstarted"
@page "/get-started"
<PageTitle Title="Get Started" />
<div class="width-all">
	<div class="width-60 container">
		<div class="row no-gutters">
			<div class="col get-started-title">Get Started with Steeltoe</div>
		</div>
		<div class="row no-gutters">
			<div class="col-12 overall-get-started-item">
				<div class="title">Service Discovery</div>
				<div class="links">
					<NavLink class="nav-link" href="/service-discovery/get-started/consul">Hashicorp Consul Registry</NavLink>
					<NavLink class="nav-link" href="/service-discovery/get-started/eureka">Eureka Registry</NavLink>
				</div>
				<hr />
			</div>
			<div class="col-12 overall-get-started-item">
				<div class="title">Service Connectors</div>
				<div class="links">
					<NavLink class="nav-link" href="/service-connectors/get-started/mysql">MySQL Database</NavLink>
					<NavLink class="nav-link" href="/service-connectors/get-started/mssql">Microsoft SQL Database</NavLink>
					<NavLink class="nav-link" href="/service-connectors/get-started/postgresql">PostgreSQL Database</NavLink>
					<NavLink class="nav-link" href="/service-connectors/get-started/mongo">Mongo Database</NavLink>
					<NavLink class="nav-link" href="/service-connectors/get-started/redis">Redis Cache</NavLink>
					<NavLink class="nav-link" href="/service-connectors/get-started/gemfire">Apache Geode/GemFire Cache</NavLink>
					<NavLink class="nav-link" href="/service-connectors/get-started/rabbit">RabbitMQ Messaging</NavLink>
					<NavLink class="nav-link" href="/service-connectors/get-started/oauth">OAuth2 Client</NavLink>
				</div>
				<hr />
			</div>
			<div class="col-12 overall-get-started-item">
				<div class="title">Circuit Breakers</div>
				<div class="links">
					<NavLink class="nav-link" href="/circuit-breakers/get-started/breaker">Get Started</NavLink>
				</div>
				<hr />
			</div>
			<div class="col overall-get-started-item">
				<div class="title">App Configuration</div>
				<div class="links">
					<NavLink class="nav-link" href="/app-configuration/get-started/springconfig">Spring Config Server</NavLink>
					<NavLink class="nav-link" href="/app-configuration/get-started/cloudfoundry">Cloud Foundry Provider</NavLink>
					<NavLink class="nav-link" href="/app-configuration/get-started/placeholder">Placeholder Provider</NavLink>
					<NavLink class="nav-link" href="/app-configuration/get-started/randomvalue">Random Value Provider</NavLink>
				</div>
				<hr />
			</div>
			<div class="col-12 overall-get-started-item">
				<div class="title">Security Providers</div>
				<div class="links">
					<NavLink class="nav-link" href="/security-providers/get-started/redisstore">Store key ring in Redis</NavLink>
					<NavLink class="nav-link" href="/security-providers/get-started/jwt">Resource Protection using JSON Web Tokens (JWT)</NavLink>
					<NavLink class="nav-link" href="/security-providers/get-started/credhub">CredHub Client</NavLink>
					<NavLink class="nav-link" href="/security-providers/get-started/sso/oauth">Cloud Foundry SSO with OAuth2 provider</NavLink>
					<NavLink class="nav-link" href="/security-providers/get-started/sso/openid">Cloud Foundry SSO with OpenID Connect provider</NavLink>
				</div>
				<hr />
			</div>
			<div class="col-12 overall-get-started-item">
				<div class="title">Cloud Management</div>
				<div class="links">
					<NavLink class="nav-link" href="/cloud-management/get-started/endpoints">Management Endpoints (Actuators)</NavLink>
					<NavLink class="nav-link" href="/cloud-management/get-started/distributed-tracing">Distributed Tracing</NavLink>
					<NavLink class="nav-link" href="/cloud-management/get-started/logging">Dynamic Logging</NavLink>
				</div>
				<hr />
			</div>
			<div class="col-12 overall-get-started-item">
			<div class="title">Logging</div>
			<div class="links">
				<NavLink class="nav-link" href="/docs/logging">Dynamic Logging Provider</NavLink>
				<NavLink class="nav-link" href="/docs/logging">Serilog Dynamic Logger</NavLink>
			</div>
			<hr />
		</div>
		<div class="col-12 overall-get-started-item">
			<div class="title">Network File Sharing</div>
			<div class="links">
				<NavLink class="nav-link" href="/docs/fileshares">Get Started</NavLink>
			</div>
		</div>
		</div>
	</div>
</div>

@code {
}