@page "/support"

<Template Name="Support" Features="@features">
	<Description>Connect with others in the community or contact the team directly. Get answers about how to best implement every component and feature within Steeltoe, as well as the best cloud-native .NET practices.</Description>
	<FeatureTemplate Context="Feature">
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">@Feature.Title</div>
				<div class="component-feature-desc">@Feature.Description</div>
			<div class="col-6 text-center"><img src="@Feature.Img" /></div>
			</div>
		</div>
	</FeatureTemplate>
</Template>

@code{
	private Feature[] features = new[] {
		new Feature() {
			Title = (MarkupString)"Slack",
			Description = (b => {
				b.AddMarkupContent(1,"Stay up to date with the latest announcements, open a direct conversation with the team, or ask a general question to the community.");
				b.OpenComponent<Href>(2);
					b.AddAttribute(3, "href","https://slack.steeltoe.io");
					b.AddAttribute(4, "NewWindow",true);
					b.AddAttribute(5, "ChildContent", (RenderFragment)((b) => {b.AddContent(6, "GO NOW");}));
				b.CloseComponent();
			}),
			Img = "https://assets.brandfolder.com/pl546j-7le8zk-838dm2/view@2x.png?v=1547165068"
		},
		new Feature() {
			Title = (MarkupString)"GitHub",
			Description = (b => {
				b.AddMarkupContent(1,"Search past issues and community questions, request a new feature, or donate your custom features to a project.");
				b.OpenComponent<Href>(2);
					b.AddAttribute(3, "href","https://github.com/steeltoeoss");
					b.AddAttribute(4, "NewWindow",true);
					b.AddAttribute(5, "ChildContent", (RenderFragment)((b) => {b.AddContent(6, "GO NOW");}));
				b.CloseComponent();
			}),
			Img = "https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png"
		},
		new Feature() {
			Title = (MarkupString)"Nuget",
			Description = (b => {
				b.AddMarkupContent(1,"Search and learn more about each Steeltoe package, its version history, statistics, and installation options.");
				b.OpenComponent<Href>(2);
					b.AddAttribute(3, "href","https://www.nuget.org/profiles/steeltoe");
					b.AddAttribute(4, "NewWindow",true);
					b.AddAttribute(5, "ChildContent", (RenderFragment)((b) => {b.AddContent(6, "GO NOW");}));
				b.CloseComponent();
			}),
			Img = "https://miro.medium.com/max/700/1*OH_L2dLIKDl_n5QknfONqw.png"
		}
	};
}