@page "/support"

<SteeltoeComponent Name="Support">
	<ComponentDescription>Connect with others in the community or contact the team directly. Get answers about how to best implement every component and feature within Steeltoe, as well as the best cloud-native .NET practices.</ComponentDescription>
	<Features>
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">Slack</div>
				<div class="component-feature-desc">Stay up to date with the latest announcements, open a direct conversation with the team, or ask a general question to the community.</div>
			</div>
			<div class="col-6 text-center"><NavLink href="https://slack.steeltoe.io" role="button" class="nav-link" target="_blank"><img src="https://assets.brandfolder.com/pl546j-7le8zk-838dm2/view@2x.png?v=1547165068" /></NavLink></div>
		</div>
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">GitHub</div>
				<div class="component-feature-desc">Search past issues and community questions, request a new feature, or donate your custom features to a project.</div>
			<div class="col-6 text-center"><NavLink href="https://github.com/steeltoeoss" role="button" class="nav-link" target="_blank"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png" /></NavLink></div>
			</div>
		</div>
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">Nuget</div>
				<div class="component-feature-desc">Search and learn more about each Steeltoe package, its version history, statistics, and installation options.</div>
			<div class="col-6 text-center"><NavLink href="https://www.nuget.org/profiles/steeltoe" role="button" class="nav-link" target="_blank"><img src="https://miro.medium.com/max/700/1*OH_L2dLIKDl_n5QknfONqw.png" /></NavLink></div>
			</div>
		</div>
	</Features>
</SteeltoeComponent>