@page "/training"

<SteeltoeComponent Name="Training & Certification">
	<ComponentDescription>Increase your mastery of Steeltoe with official training and certification from VMware. Every course is laser-focused to equip you with the skills you need to be a successful Steeltoe practitioner in your chosen discipline. You can validate your learning with an industry-recognized certification. Most courses are instructor-led, either in person or online. Some are also available privately onsite.</ComponentDescription>
	<Features>
		<div><h2>Training</h2></div>
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">Pivotal Platform Acceleration Lab for .NET Developers</div>
				<div class="component-feature-desc">Experience best practices building cloud-native applications in a hands-on setting with Pivotal educators and consultants. The program is focused on enabling customers and partners through “doing it” rather than “talking about it”.</div>
			</div>
			<div class="col-6 text-center"><NavLink href="https://store.education.pivotal.io/confirm-course?courseid=EDU-1180" role="button" class="border border-dark font-weight-bold btn btn-default border-black p-3 nav-link" target="_blank">LEAN MORE</NavLink></div>
		</div>
		<div><h2>Certification</h2></div>
		<div class="row component-feature">
			<div class="col-6">
				<div class="component-feature-title">Pivotal Certified Developer .NET</div>
				<div class="component-feature-desc">The performance-based Pivotal Certified Developer Exam is designed to test and validate your understanding of and familiarity with Tanzu Application Service, ASP.NET Core, RESTful APIs, and cloud-native patterns.</div>
			<div class="col-6 text-center"><NavLink href="https://store.education.pivotal.io/confirm-course?courseid=EDU-1198" role="button" class="border border-dark font-weight-bold btn btn-default border-black p-3 nav-link" target="_blank">LEAN MORE</NavLink></div>
			</div>
		</div>
	</Features>
</SteeltoeComponent>