
<Tab Title="Azure">
	<ol>
		<li>
			Follow the Azure <a href="@AzureGettingStartedUrl" target="_blank">getting started guide</a> to get a @ServiceName instance started
		</li>
		<li>Name the instance @InstanceName </li>
		<li>As you set up the instance, note the credentials and connection string created. You'll need this in the following steps.</li>
		@AdditionalSteps
	</ol>
</Tab>

@code {
	[Parameter]
	public string InstanceName { get; set; } = "";
	[Parameter]
	public string ServiceName { get; set; } = "";
	[Parameter]
	public RenderFragment AzureGettingStartedUrl { get; set; }
	[Parameter]
	public RenderFragment AdditionalSteps { get; set; }
}
