
<Tab Title="Cloud Foundry">
	<ol>
		<li>
			Start an instance of @ServiceName, named @InstanceName
			<pre><code class="powershell">@CFCreateServiceCmd</code></pre>
		</li>
		<li class="@(ShowServiceLookup == false ? "hide" : "")">
			Wait for service to be ready
			<pre><code class="powershell">cf services</code></pre>
		</li>
		@AdditionalSteps
	</ol>
</Tab>

@code {
	[Parameter]
	public string InstanceName { get; set; } = "";
	[Parameter]
	public string ServiceName { get; set; } = "";
	[Parameter]
	public RenderFragment CFCreateServiceCmd { get; set; }
	[Parameter]
	public bool ShowServiceLookup { get; set; } = true;

	[Parameter]
	public RenderFragment AdditionalSteps { get; set; }

}