
	<Tab Title="Kubernetes">
		<ol>
			<li>
				Using Helm Charts, start the <Href href="@HelmGettingStartedUrl" target="_blank">@ServiceName chart</Href> providing connecting values. Learn more about using Helm <a href="https://helm.sh/docs/using_helm/" target="_blank">here</a>.
				<code class="inline">@HelmCmd</code>
			</li>
			@*<AdditionalSteps>
			<li>
				Expose the port, for connecting outside the cluster
				<code class="inline">kubectl port-forward svc/@InstanceName @Portnumber</code>
			</li>
		</AdditionalSteps>*@
			<li>
				Once deployed, Helm will give feedback how to "connect to your instance directly from outside the K8s cluster". You'll need the host IP and port # in the following steps.
			</li>
			@AdditionalSteps
		</ol>
		<Tip><Message>Once finished, to remove the deployment simply run <code>helm del --purge @InstanceName</code></Message></Tip>
	</Tab>

@code {
	[Parameter]
	public string InstanceName { get; set; } = "";
	[Parameter]
	public string ServiceName { get; set; } = "";
	[Parameter]
	public RenderFragment HelmGettingStartedUrl { get; set; }
	[Parameter]
	public RenderFragment HelmCmd { get; set; }

	[Parameter]
	public RenderFragment AdditionalSteps { get; set; }

}