
<Tab Title="Local">
	<ol>
		<li>
			Using the <a href="https://github.com/steeltoeoss/dockerfiles" target="_blank">Steeltoe dockerfile</a>, start a local instance of @ServiceName. The dockerfile will choose the correct image based on your OS.
			<pre><code class="powershell">@DockerCmd</code></pre>
		</li>
		@AdditionalSteps
	</ol>
</Tab>

@code {
	[Parameter]
	public string InstanceName { get; set; } = "";
	[Parameter]
	public string ServiceName { get; set; } = "";
	[Parameter]
	public RenderFragment DockerCmd { get; set; }
    [Parameter]
    public RenderFragment AdditionalSteps { get; set; }
}
