@using System
@implements IDisposable

<Tab Title="Steeltoe Tooling">
	<ol>
		<li>
			Initialize the session
			<code class="inline">st init</code>
		</li>
		<li>
			Add a reference to @ServiceName service
			<code class="inline">st add @ToolingServiceName @InstanceName</code>
		</li>
		@AdditionalSteps
	</ol>
</Tab>

@code {
	[Parameter]
	public string InstanceName { get; set; } = "";
	[Parameter]
	public string ServiceName { get; set; } = "";
	[Parameter]
	public string ToolingServiceName { get; set; } = "";

	[Parameter]
	public RenderFragment AdditionalSteps { get; set; }

	protected override void OnInitialized()
	{
	}

	public void Dispose()
	{
	}
}