@page "/observability/tanzu"
@inject IHttpContextAccessor HttpContextAccessor
@inject IOptionsSnapshot<DocsSiteOptions> DocsSiteOptions
<Breadcrumbs NavName="Tanzu App Manager"
							 ParentLinkName="Observability"
							 ParentLinkUrl="/observability"
							 ShowGetStarted="false" />
<Tutorial>
    <Title>
        This page has moved, use the new <NavLink href="@(DocsSiteOptions.Value.BaseAddress + "/guides/observability/tanzu.html")">VMware Tanzu Apps Manager guide</NavLink>
    </Title>
</Tutorial>

@code
{
    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext != null)
        {
            var uri = new Uri(DocsSiteOptions.Value.BaseAddress + "/guides/observability/tanzu.html").ToString();
            HttpContextAccessor.HttpContext.Response.Redirect(uri, true);
        }
    }
}
