@page "/observability"

<Breadcrumbs NavName="Getting Started" ShowGetStarted="false"
							 ParentLinkName="Cloud Observability"
							 ParentLinkUrl="/observability" />

<GetStarted>
 <ComponentName>Cloud Observability</ComponentName>
 <Tutorials>
 	<div class="col">
 		<div class="get-started-tutorial">
 			<div class="title"><NavLink class="nav-link p-0" href="/observability/wavefront">Wave Front</NavLink></div>
 			<div class="desc">Using the Wavefront proxy and Telegraf service, visual metrics and distributed tracing in Wavefront.</div>
 		</div>
 	</div>
 	<div class="col-1">&nbsp;</div>
 	<div class="col">
 		<div class="get-started-tutorial">
 			<div class="title"><NavLink class="nav-link" href="/observability/grafana">Grafana</NavLink></div>
 			<div class="desc">Using a Prometheus data store, create a Grafana dashboard to visual app metrics &amp; info.</div>
 		</div>
 	</div>
 	<div class="col-1">&nbsp;</div>
 	<div class="col">
 		<div class="get-started-tutorial">
 			<div class="title"><NavLink class="nav-link" href="/observability/tanzu">Tanzu Application Services</NavLink></div>
 			<div class="desc">Visual app metrics and distributed tracing in Tanzu App Manager.</div>
 		</div>
 	</div>
 </Tutorials>
</GetStarted>

@code {
}