@page "/observability"

<Breadcrumbs NavName="Observability"/>
<GetStarted>
 <ComponentName>Observability</ComponentName>
 <Tutorials>
 	<div class="col">
 		<div class="get-started-tutorial">
 			<div class="title"><Href class="nav-link p-0" href="/observability/wavefront">Wavefront</Href></div>
 			<div class="desc">Using the Wavefront proxy and Telegraf service, visual metrics and distributed tracing in Wavefront.</div>
 		</div>
 	</div>
 	<div class="col-1">&nbsp;</div>
 	<div class="col">
 		<div class="get-started-tutorial">
 			<div class="title"><Href href="/observability/grafana">Grafana</Href></div>
 			<div class="desc">Using a Prometheus data store, create a Grafana dashboard to visual app metrics &amp; info.</div>
 		</div>
 	</div>
 	<div class="col-1">&nbsp;</div>
 	<div class="col">
 		<div class="get-started-tutorial">
 			<div class="title"><Href href="/observability/tanzu">Tanzu Application Services</Href></div>
 			<div class="desc">Visual app metrics and distributed tracing in Tanzu App Manager.</div>
 		</div>
 	</div>
 </Tutorials>
</GetStarted>

@code{
}