@page "/observability"

<PageTitle Title="Cloud Observability" />
<div class="width-all">
	<div class="width-60 container">
		<div class="row no-gutters">
			<div class="col get-started-title">Cloud Observability</div>
		</div>
		<div class="row no-gutters">
			<div class="col tools-item">
				<div class="title"><h3><NavLink class="nav-link" href="/observability/wavefront">Wave Front</NavLink></h3></div>
				<div class="desc">Using the Wavefront proxy and Telegraf service, visual metrics and distributed tracing in Wavefront.</div>
			</div>
 			<div class="col-1">&nbsp;</div>
			<div class="col tools-item">
				<div class="title"><NavLink class="nav-link" href="/observability/grafana"><h3>Grafana</h3></NavLink></div>
				<div class="desc">Using a Prometheus data store, create a Grafana dashboard to visual app metrics &amp; info.</div>
			</div>
 			<div class="col-1">&nbsp;</div>
			<div class="col tools-item">
				<div class="title"><NavLink class="nav-link" href="/observability/tanzu"><h3>Tanzu Application Services</h3></NavLink></div>
				<div class="desc">Visual app metrics and distributed tracing in Tanzu App Manager.</div>
			</div>
		</div>
	</div>
</div>

@code {
}